<nav class="main-nav">
    <ul>
        <li routerLinkActive="active"><a class="nav-link" routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a class="nav-link" routerLink="/women">Women</a></li>
        <li routerLinkActive="active"><a class="nav-link" routerLink="/men" >Men</a></li>
    <li routerLinkActive="active"><a class="nav-link" routerLink="/bag" ><img [src]="imageUrl" alt="" style="width: 30px;"> <a *ngIf="service.Cart.length > 0">{{service.Cart.length}} </a>
        </a></li>
    </ul>
</nav>